@import "variables" ;
@import "login";
html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: $primeColor;
    display: flex;
    justify-content: center;
    align-items: center;
    .loginBox, .gameContainer {
        display: none;
    }
    &.loggedOut {
        .loginBox {
            display: block;
        }
    }
    &.loggedIn {
        .gameContainer {
            display: block;
        }
    }
}